{% extends 'header.html.twig' %}
{% block title %}NexHub{% endblock %}
{% block content %}
    {% include 'background.html.twig' %} <!--Must be before other content (Otherwise white spaced bar likely).-->
    {% include 'navbar.html.twig' %}
    <div class="page-container">
        <h2 style="padding: 25px 0 0 25px">Error {{ error_number }}</h2>
        <p style="padding: 25px 0 0 25px"> {{ error_message }}</p>
    </div>
{% endblock %}
