<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- Highly useful JS lib -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script> <!-- Library useful for styling with JS. -->

    <link rel="stylesheet" href="/resources/css/default.scss" type="text/css"/>
    <link rel="stylesheet" href="/resources/css/background.css" type="text/css"/>
    {% block extra_meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
