{% extends 'header.html.twig' %}
{% block extra_meta %}<link rel="stylesheet" href="/resources/css/login.css" type="text/css"/>{% endblock %}
{% block title %}NexHub{% endblock %}
{% block content %}
    {% include 'background.html.twig' %} <!--Must be before other content (Otherwise white spaced bar likely).-->
    {% include 'navbar.html.twig' %}

        <h1>Login Attempt: </h1>
        <p>{{ login_success }}</p>

{% endblock %}
