{% extends 'header.html.twig' %}
{% block extra_meta %}<link rel="stylesheet" href="/resources/css/form.css" type="text/css"/>{% endblock %}
{% block title %}Soap: Login{% endblock %}
{% block content %}
    {% include 'background.html.twig' %} <!--Must be before other content (Otherwise white spaced bar likely).-->
    {% include 'navbar.html.twig' %}
    <div class="form">
        <h1>Login</h1>
        <form>
            <label for="username">
                <img src="https://content.nexhub.co.uk/resources/icons/eva/outline/svg/person-outline.svg" alt="https://content.nexhub.co.uk/resources/icons/eva/outline/png/person-outline.png"/>
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required pattern="[^()}{/<>#,[\]\\,'|\x22]+">
            <label for="password">
                <img src="https://content.nexhub.co.uk/resources/icons/eva/outline/svg/lock-outline.svg" alt="https://content.nexhub.co.uk/resources/icons/eva/outline/png/lock-outline.png"/>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <input type="submit" value="Login">
        </form>
    </div>
    <script>
        $('form').on('submit', function (e) {
            e.preventDefault(); // Prevents default actions like refreshing.

            $.ajax({
                type: "POST",
                url: '/auth-login',
                data: $("form").serialize(),
                success: function (result) {
                    xml = eval(result);
                    success = ($(xml).find('success').text() === 'true');

                    if (success) {
                        console.log(success);
                        console.log(location.hash.substr(1))
                        switch (location.hash.substr(1)) {
                            case "soap":
                                alert("Login success, redirecting you back to soap.");
                                window.location.replace("/soap");
                                break;
                            case "send":
                                alert("Login success, redirecting you back to soap.");
                                window.location.replace("/send");
                                break;
                            default:
                                alert("Login success, redirecting to homepage.");
                                window.location.replace("/");
                        }
                    } else {
                        console.log(success);
                        alert($(xml).find('message').text());
                    }
                },
                error: function() {
                    alert("Uh oh, something went wrong on the server. Cancelling action, sorry.");
                }
            });

        })
    </script>
{% endblock %}
