{% extends 'header.html.twig' %}
{% block extra_meta %}<link rel="stylesheet" href="/resources/css/form.css" type="text/css"/>{% endblock %}
{% block title %}NexHub{% endblock %}
{% block content %}
    {% include 'background.html.twig' %} <!--Must be before other content (Otherwise white spaced bar likely).-->
    {% include 'navbar.html.twig' %}
    <div class="form">
        <h1>Register</h1>
        <div class="login-char-warning"><p>Illegal Chars: ( ) } { @ # / < > , [ ] \ , ' | "</p></div>
        <form>
            <label for="username">
                <img src="https://content.nexhub.co.uk/resources/icons/eva/outline/svg/person-outline.svg"/>
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required pattern="[^()}{/<>#,[\]\\,'|\x22]+"/>

            <label for="password">
                <img src="https://content.nexhub.co.uk/resources/icons/eva/outline/svg/lock-outline.svg"/>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required>

            <label for="password-confirm" class="empty">
                <!-- empty -->
            </label>
            <input type="password" name="password-confirm" placeholder="Confirm Password" id="password-confirm" required>

            <label for="phone">
                <img src="https://content.nexhub.co.uk/resources/icons/eva/outline/svg/email-outline.svg"/>
            </label>
            <input type="phone" name="phone" placeholder="phone" id="phone" required pattern="^+[0-9]*$">

            <input type="submit" value="Register">
        </form>
    </div>
    <script>
        //Password confirmation validations
        var password = document.getElementById("password"), confirm_password = document.getElementById("password-confirm");

        function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;

        //AJAX
        $('form').on('submit', function (e) {
            e.preventDefault(); // Prevents default actions like refreshing.

            $.ajax({
                type: "POST",
                url: '/auth-register',
                data: $("form").serialize(),
                success: function (result) {
                    xml = eval(result);
                    success = ($(xml).find('success').text() === 'true');

                    if (success) {
                        console.log(success);
                        alert("Register success, redirecting to homepage.");
                        window.location.replace("/");
                    } else {
                        console.log(success);
                        alert($(xml).find('message').text());
                    }
                }
            });

        })
    </script>
{% endblock %}
