{% extends 'header.html.twig' %}
{% block title %}NexHub{% endblock %}
{% block content %}
    {% include 'background.html.twig' %} <!---->
    {% include 'navbar.html.twig' %}
    <div class="page-container">
        <h2 class="slide" id="welcome-header">Welcome!</h2>
        <br/><br/><br/><br/><br/><br/> <!-- Temp, should be replaced with proper padding/margins -->

        <div id="table-container">
            <table style="width:100%">
                <thead>
                <tr>
                    <th class="sticky-col first-col">Recipient</th>
                    <th class="sticky-col second-col">Receiver</th>
                    <th class="sticky-col third-col">Delivery Time</th>
                    <th class="sticky-col">Message</th>
                </tr>
                </thead>
                <tbody>
                {% for row in downloadsresults %}
                    <tr>
                        <td>{{ row.sourcemsisdn }}</td>
                        <td>{{ row.destinationmsisdn }}</td>
                        <td>{{ row.recievedtime }}</td>
                        <td>{{ row.message }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $("#welcome-header").click(function(){ <!-- use to hide elemement-->
            $("#welcome-header").fadeOut(1000);
        });
    </script>
{% endblock %}